
<h3><%= t :my_settings %></h3>
<% if signed_in? %>
		<a href="<%= profile_url(params[:id]) + "#_=_"%>">Edit 修改</a>
<% end %>


<ul>
<img src="<%= @user.image %>"><br>
<%= t :my_name %>: <%= @user.user_profile.name %> <br>
<%= t :brokerage %>: <%= @user.user_profile.brokerage %><br>
<%= t :phone %>:<%= @user.user_profile.phone %><br>
<%= t :email %>:<%= @user.user_profile.emailcontact %><br>
</ul>
