<div class="search-filter">
	<% if(savedPage) { %>
		<% if(count === 0) { %>
			<h2 class="title">No Saved Properties 没有找到保存的地产</h2>
		<% } else if (count === 1) { %>
			<h2 class="title"><b><%= count %></b> Saved Property 找到<b><%= count %></b>个保存的地产</h2>
		<% } else { %>
			<h2 class="title"><b><%= count %></b> Saved Properties 找到<b><%= count %></b>个保存的地产</h2>
		<% } %>
	<% } else { %>
		<% if(count === 0) { %>
			<h2 class="title">No Properties Found 没有找到符合条件的地产</h2>
		<% } else if (count === 1) { %>
			<h2 class="title"><b><%= count %></b> Property Found 找到<b><%= count %></b>个地产</h2>
		<% } else { %>
			<h2 class="title"><b><%= count %></b> Properties Found 找到<b><%= count %></b>个地产</h2>
		<% } %>
	<% } %>
</div>
<div class="search-terms">
	<% if(!savedPage) { %>
	<p>
	<% if(StreetEasyClone.searchQueryJSON && StreetEasyClone.searchQueryJSON.property.location.length > 0) { %>
		<b>Location:</b> "<%= StreetEasyClone.searchQueryJSON.property.location %>"
	<% } %>
	<% if(StreetEasyClone.searchQueryJSON && StreetEasyClone.searchQueryJSON.property.apt_type.length > 0) { %>
		<b>Type:</b> "<%= StreetEasyClone.searchQueryJSON.property.apt_type %>"
	<% } %>
	<% if(StreetEasyClone.searchQueryJSON && StreetEasyClone.searchQueryJSON.property.beds.length > 0) { %>
		<b>Bedrooms:</b> "<%= StreetEasyClone.searchQueryJSON.property.beds %>"
	<% } %>
	<% if(StreetEasyClone.searchQueryJSON && StreetEasyClone.searchQueryJSON.property.baths.length > 0) { %>
		<b>Bathrooms:</b> "<%= StreetEasyClone.searchQueryJSON.property.baths %>"
	<% } %>
	<% if(StreetEasyClone.searchQueryJSON && StreetEasyClone.searchQueryJSON.property.min_price.length > 0) { %>
		<b>Min Price:</b> "<%= StreetEasyClone.convertNumToCurrency(StreetEasyClone.searchQueryJSON.property.min_price) %>"
	<% } %>
	<% if(StreetEasyClone.searchQueryJSON && StreetEasyClone.searchQueryJSON.property.max_price.length > 0) { %>
		<b>Max Price:</b> "<%= StreetEasyClone.convertNumToCurrency(StreetEasyClone.searchQueryJSON.property.max_price) %>"
	<% } %>
	</p>
	<% } %>
</div>
<ul class="view-switch-container group">
	<li>
	  <button data-id="list" class="view-switch">LIST</button>
	</li>
	<li>
	  <button data-id="map" class="view-switch">MAP</button>
	</li>
	<li class="sort-form-container">
		<form class="sort-form">Sort By:
			<select class="sort-select" name="sort-criterion">
				<option val="price_largest" <% if(StreetEasyClone.sortString === "sort=price+desc") { %> Selected <% }; %>>Most Expensive-贵的优先</option>
				<option val="price_smallest" <% if(StreetEasyClone.sortString === "sort=price+asc") { %> Selected <% }; %>>Least Expensive-便宜的优先</option>
				<option val="sq_ft_largest" <% if(StreetEasyClone.sortString === "sort=sq_ft+desc") { %> Selected <% }; %>>Largest-面积大优先</option>
				<option val="sq_ft_smallest" <% if(StreetEasyClone.sortString === "sort=sq_ft+asc") { %> Selected <% }; %>>Smallest-面积小优先</option>
				<option val="beds_largest" <% if(StreetEasyClone.sortString === "sort=beds+desc") { %> Selected <% }; %>>Most Bedrooms-卧房多优先</option>
				<option val="beds_smallest" <% if(StreetEasyClone.sortString === "sort=beds+asc") { %> Selected <% }; %>>Least Bedrooms-卧房少优先</option>
			</select>
			<button class="sort-button"></button>
		</form>
	</li>
</ul>
<div class="view-container">

</div>


<script>
	$(document).ready(function() {
		$("select").on("change", function(event) {
			$(".sort-button").click();
		});
	});
</script>
