<% if(action === "new") { %>
	<h2 class="form-page-header">Add a new property  添加房子</h2>
<% } else if (action === "edit") { %>
	<h2 class="form-page-header">Edit a property 修改房子</h2>
<% } %>

<form class="new-property-form">
	<div class="new-form-main group">
		<div id="main-photo-container">
			<% if(action === "new") { %>
				<img src="/images/missing_big.png" id="main-photo-default" class="current-image">
			<% } else if (action === "edit") { %>
				<% if(property.escape("property_photo_url").indexOf("missing") === -1) { %>
					<img src="<%= property.escape('property_photo_url') %>" id="main-photo-default" class="current-image">
				<% } else { %>
					<img src="/images/missing_big.png" id="main-photo-default" class="current-image">
				<% }%>
			<% } %>
			<div class="main-photo-button-container">
				<input type="file" name="property_photo" id="main-photo-upload">
				<button class="main-photo-button">Upload Cover上传封面照片</button>
			</div>
		</div>
		<div class="right-hand-form">
			<b>* means required field. * 必填</b>
			<ul class="group">
				<li class="form-element">
		  		<label>Address(*) 地址(*)</label>
		    	<input type="text" name="address" value="<%= property.escape("address") %>" class="medium-input">
				</li>
				<li class="form-element">
				  <label>Unit 单元</label>
			    <input type="text" name="unit" value="<%= property.escape("unit") %>" class="small-input">
				</li>
				<li class="form-element">
				  <label>Zip Code(*) 邮编(*)</label>
				  <input type="text" name="zip" value="<%= property.escape("zip") %>" class="small-input">
				</li>
				<li class="form-element">
				  <label for="borough-select">Borough(*) 区(*)</label>
				  <select name="borough" id="borough-select" class="small-input">
						<option value="">(Choose one 单选)</option>
						<% for(var i = 0; i < StreetEasyClone.boroughs.length; i++) { %>
							<% if(property.escape("borough").toLowerCase() === StreetEasyClone.boroughs[i].toLowerCase()) { %>
								<option value="<%= StreetEasyClone.boroughs[i] %>" Selected>
									<%= StreetEasyClone.boroughs[i] %>
								</option>
							<% } else { %>
								<option value="<%= StreetEasyClone.boroughs[i] %>">
									<%= StreetEasyClone.boroughs[i] %>
								</option>
							<% } %>
						<% } %>
				  </select>
				</li>
				<li class="form-element">
				  <label for="neighborhood-select">Neighborhood(*) 街区(*)</label>
				  <select name="neighborhood" id="neighborhood-select" class="small-input">
				    <option value="">(Choose one 单选)</option>
						<% for(var i = 0; i < StreetEasyClone.neighborhoods.length; i++) { %>
							<% if(property.escape("neighborhood").toLowerCase() === StreetEasyClone.neighborhoods[i].toLowerCase()) { %>
								<option value="<%= StreetEasyClone.neighborhoods[i] %>" Selected>
									<%= StreetEasyClone.neighborhoods[i] %>
								</option>
							<% } else { %>
								<option value="<%= StreetEasyClone.neighborhoods[i] %>">
									<%= StreetEasyClone.neighborhoods[i] %>
								</option>
							<% } %>
						<% } %>
				  </select>
				</li>
				<li class="form-element">
					<label for="apt-type-select">Apartment Type(*) 公寓类型(*)</label>
					<select name="apt_type" id="apt-type-select" class="small-input">
						<option value="">(Choose one)</option>
						<% for(var i = 0; i < StreetEasyClone.apt_types.length; i++) { %>
							<% if(property.escape("apt_type").toLowerCase() === StreetEasyClone.apt_types[i].toLowerCase()) { %>
								<option value="<%= StreetEasyClone.apt_types[i] %>" Selected>
									<%= StreetEasyClone.apt_types[i] %>
								</option>
							<% } else { %>
								<option value="<%= StreetEasyClone.apt_types[i] %>">
									<%= StreetEasyClone.apt_types[i] %>
								</option>
							<% } %>
						<% } %>
					</select>
				</li>
				 <li class="form-element">
				  <label>Beds 卧室</label>
				    <input type="text" name="beds" value="<%= property.escape("beds") %>"class="small-input">
				 </li>
				 <li class="form-element">
				  <label>Baths 浴室</label>
				    <input type="text" name="baths" value="<%= property.escape("baths") %>"class="small-input">
				 </li>
				 <li class="form-element">
				  <label>Square Footage 平方英尺</label>
				    <input type="text" name="sq_ft" value="<%= property.escape("sq_ft") %>"class="small-input">
				</li>
				<li class="form-element">
					<label>Price(*) 价格(*)</label>
						<input type="text" name="price" value="<%= property.escape("price") %>" class="small-input">
				 </li>
				<li class="form-element">
					<label>Description 介绍</label>
					<textarea name="description" class="new-form-description"><%= property.escape("description") %></textarea>
				</li>
			</ul>
		</div>
	</div>
	<div class="form-button-container">
		<button class="add-more-photos-button">Upload More Photos 上传更多照片</button>
		<br>
		<br>
		<button class="add-property-button">Submit 提交</button>
	</div>
</form>

<br>
<br>

<div class="additional-photos-container">

</div>

<script>
// $(".new-property-form").on("submit", function(event) {
// 	event.preventDefault();
// });
</script>
